/* [project]/shopalive/shopalive/node_modules/@coinbase/cdp-react/dist/assets/Button.css [app-client] (css) */
.Button-module__btn___Wj6Dr {
  --cdp-web-button-ring-color: transparent;
  --cdp-web-button-ring-width: 2px;
  --cdp-web-button-ring-inset-color: transparent;
  --cdp-web-button-ring-inset-width: 2px;
  border-radius: var(--cdp-web-borderRadius-cta);
  font-family: var(--cdp-web-font-family-cta);
}

.Button-module__link-primary___6Zgkh, .Button-module__link-secondary___S0Qdo {
  padding: 0 .25em;
}

.Button-module__primary___WGT-- {
  background-color: var(--cdp-web-colors-cta-primary-bg-default);
  color: var(--cdp-web-colors-cta-primary-text-default);
  border-radius: var(--cdp-web-borderRadius-cta);
  font-family: var(--cdp-web-font-family-cta);
}

.Button-module__primary___WGT--:hover {
  background-color: var(--cdp-web-colors-cta-primary-bg-hover);
  color: var(--cdp-web-colors-cta-primary-text-hover);
}

.Button-module__primary___WGT--:active {
  background-color: var(--cdp-web-colors-cta-primary-bg-pressed);
}

.Button-module__primary___WGT--:focus {
  outline: none;
}

.Button-module__primary___WGT--:focus-visible {
  --cdp-web-button-ring-color: var(--cdp-web-colors-cta-primary-border-focus);
  --cdp-web-button-ring-inset-color: var(--cdp-web-colors-page-bg-default);
  outline: none;
}

.Button-module__secondary___Fx0LJ {
  background-color: var(--cdp-web-colors-cta-secondary-bg-default);
  color: var(--cdp-web-colors-cta-secondary-text-default);
  border-radius: var(--cdp-web-borderRadius-cta);
  font-family: var(--cdp-web-font-family-cta);
}

.Button-module__secondary___Fx0LJ:hover {
  background-color: var(--cdp-web-colors-cta-secondary-bg-hover);
  color: var(--cdp-web-colors-cta-secondary-text-hover);
}

.Button-module__secondary___Fx0LJ:active {
  background-color: var(--cdp-web-colors-cta-secondary-bg-pressed);
}

.Button-module__secondary___Fx0LJ:focus {
  outline: none;
}

.Button-module__secondary___Fx0LJ:focus-visible {
  --cdp-web-button-ring-color: var(--cdp-web-colors-cta-secondary-border-focus);
  --cdp-web-button-ring-inset-color: var(--cdp-web-colors-page-bg-default);
  outline: none;
}

.Button-module__link-primary___6Zgkh, .Button-module__transparent-primary___iwWv5 {
  color: var(--cdp-web-colors-link-primary-text-default);
  border-radius: var(--cdp-web-borderRadius-link);
  font-family: var(--cdp-web-font-family-link);
  background-color: #0000;
}

.Button-module__link-primary___6Zgkh:hover, .Button-module__transparent-primary___iwWv5:hover {
  color: var(--cdp-web-colors-link-primary-text-hover);
}

.Button-module__link-primary___6Zgkh:active, .Button-module__transparent-primary___iwWv5:active {
  color: var(--cdp-web-colors-link-primary-text-pressed);
}

.Button-module__link-primary___6Zgkh:focus, .Button-module__transparent-primary___iwWv5:focus {
  outline: none;
}

.Button-module__link-primary___6Zgkh:focus-visible, .Button-module__transparent-primary___iwWv5:focus-visible {
  --cdp-web-button-ring-color: var(--cdp-web-colors-link-primary-text-default);
  outline: none;
}

.Button-module__link-secondary___S0Qdo, .Button-module__transparent-secondary___GfRXu {
  color: var(--cdp-web-colors-link-secondary-text-default);
  border-radius: var(--cdp-web-borderRadius-link);
  font-family: var(--cdp-web-font-family-link);
  background-color: #0000;
}

.Button-module__link-secondary___S0Qdo:hover, .Button-module__transparent-secondary___GfRXu:hover {
  color: var(--cdp-web-colors-link-secondary-text-hover);
}

.Button-module__link-secondary___S0Qdo:active, .Button-module__transparent-secondary___GfRXu:active {
  color: var(--cdp-web-colors-link-secondary-text-pressed);
}

.Button-module__link-secondary___S0Qdo:focus, .Button-module__transparent-secondary___GfRXu:focus {
  outline: none;
}

.Button-module__link-secondary___S0Qdo:focus-visible, .Button-module__transparent-secondary___GfRXu:focus-visible {
  --cdp-web-button-ring-color: var(--cdp-web-colors-link-secondary-text-default);
  outline: none;
}

.Button-module__control-btn___9Gkoz {
  --cdp-web-button-ring-inset-color: var(--cdp-web-colors-select-trigger-border-default);
  --cdp-web-button-ring-inset-width: 1px;
  background-color: var(--cdp-web-colors-select-trigger-bg-default);
  border-radius: var(--cdp-web-borderRadius-select-trigger);
  color: var(--cdp-web-colors-select-trigger-text-default);
  font-family: var(--cdp-web-font-family-select);
  font-weight: 400;
}

.Button-module__control-btn___9Gkoz:hover {
  background-color: var(--cdp-web-colors-select-trigger-bg-hover);
}

.Button-module__control-btn___9Gkoz:active {
  background-color: var(--cdp-web-colors-select-trigger-bg-pressed);
}

.Button-module__control-btn___9Gkoz:focus {
  outline: none;
}

.Button-module__control-btn___9Gkoz:focus-visible {
  --cdp-web-button-ring-inset-color: var(--cdp-web-colors-input-border-focus);
  --cdp-web-button-ring-inset-width: 2px;
  outline: none;
}

/*# sourceMappingURL=9f313_%40coinbase_cdp-react_dist_assets_Button_css_bad6b30c._.single.css.map*/