/* [project]/shopalive/shopalive/node_modules/@coinbase/cdp-react/dist/assets/Select.css [app-client] (css) */
.Select-module__select-trigger___yqioM {
  --cdp-web-button-ring-inset-color: var(--cdp-web-colors-select-trigger-border-default);
  --cdp-web-button-ring-inset-width: 1px;
  background-color: var(--cdp-web-colors-select-trigger-bg-default);
  border-radius: var(--cdp-web-borderRadius-select-trigger);
  color: var(--cdp-web-colors-select-trigger-text-default);
  font-family: var(--cdp-web-font-family-select);
  text-align: left;
  justify-content: space-between;
  font-weight: 500;
}

.Select-module__select-trigger___yqioM:hover {
  background-color: var(--cdp-web-colors-select-trigger-bg-hover);
}

.Select-module__select-trigger___yqioM:active {
  background-color: var(--cdp-web-colors-select-trigger-bg-pressed);
}

.Select-module__select-trigger___yqioM:focus {
  outline: none;
}

.Select-module__select-trigger___yqioM:focus-visible {
  --cdp-web-button-ring-inset-color: var(--cdp-web-colors-select-trigger-border-focus);
  --cdp-web-button-ring-inset-width: 2px;
  outline: none;
}

.Select-module__select-icon___hE7Wy {
  transition: transform .2s ease-in-out;
}

.Select-module__select-trigger___yqioM[data-state="open"] .Select-module__select-icon___hE7Wy {
  transform: rotate(0);
}

.Select-module__select-trigger___yqioM[data-state="closed"] .Select-module__select-icon___hE7Wy {
  transform: rotate(-90deg);
}

.Select-module__select-content___6R8J9 {
  --shadow-sm: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  background-color: var(--cdp-web-colors-select-list-bg-default);
  border: 1px solid var(--cdp-web-colors-select-list-border-default);
  border-radius: var(--cdp-web-borderRadius-select-list);
  box-sizing: border-box;
  box-shadow: var(--shadow-sm);
  font-size: var(--cdp-web-font-size-base);
  font-family: var(--cdp-web-font-family-select);
  max-height: var(--radix-select-content-available-height);
  text-align: left;
  width: var(--radix-select-trigger-width);
  padding: .5em;
}

.Select-module__select-content___6R8J9[data-state="open"] {
  animation: .2s cubic-bezier(.4, 0, .2, 1) Select-module__slide-down-and-fade___66mDK;
}

.Select-module__select-content___6R8J9[data-side="top"][data-state="open"] {
  animation: .2s cubic-bezier(.4, 0, .2, 1) Select-module__slide-up-and-fade___0H9hX;
}

.Select-module__select-item___12l2C {
  background-color: var(--cdp-web-colors-select-list-item-bg-default);
  border-radius: var(--cdp-web-borderRadius-select-list);
  color: var(--cdp-web-colors-select-list-item-text-default);
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  padding: .5em;
  font-size: .875em;
  transition: background-color .2s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.Select-module__select-item___12l2C[data-highlighted] {
  background-color: var(--cdp-web-colors-select-list-item-bg-highlight);
  color: var(--cdp-web-colors-select-list-item-text-onHighlight);
  outline: none;
}

.Select-module__rotate-180___KuvGV {
  transform: rotate(180deg);
}

@keyframes Select-module__slide-down-and-fade___66mDK {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Select-module__slide-up-and-fade___0H9hX {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=9f313_%40coinbase_cdp-react_dist_assets_Select_css_bad6b30c._.single.css.map*/